<p id="notice"><%= notice %></p>

<h1> <strong>Empresa:</strong> <%= @company.name %> </h1>




<%= form_with(model: [@company, Employee.new], local: true) do |form| %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.select :area_id, Area.pluck(:name, :id) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<h2>Empleados: </h2>

<div class="row">
  <div class="col-md-6">

    <table class="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>E-mail</th>
        <th>Área</th>
        <th>Acción</th>
      </tr>

      <% @company.employees.each do |emplo| %>

      <tr>
        <td><%= emplo.first_name %></td>
        <td><%= emplo.last_name %></td>
        <td><%= emplo.email %></td>
        <td><%= emplo.area.name %></td>
        <td><%= link_to '(Borrar)', company_employee_path(@company, emplo), method: :delete %> </td>
      </tr>

      <% end %>

    </table>

  </div>
</div>
